body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 1.75em;
}

/*h2 {
	float: right;
	position: relative;
}*/

h2 {
	margin: 0px;
	font-size: 1.75em;
}
* {
		box-sizing: border-box;
}

.section1, .section2, .section3 {
	border: 1px solid;
	padding: 15px;
	background-color: #ccc;
	min-width: 130px;
	margin: 10px;
	float: right;
}
#h2s1 {
	background-color: #FF424F;
	color: white;
} 
#h2s2 {
	background-color: #E89930;
}
#h2s3 {
	background-color: #FFFB42;
}

#h2s1, #h2s2, #h2s3 {
	position: relative;
	float: right;
	top: -16px;
	right: -16px;
	padding: 5px;
	border: black solid 1px;
	text-align: center;
	min-width: 130px;
}

p {
	float: right;
	margin-top: 0px;
}


#mainmenu {
	margin: auto;	
	padding: 10px;	
	text-align: center;
}




.row {
	width: 100%;
}

	/* BIG DEVICES, BIG DEVICES, BIG DEVICES */


@media (min-width: 992px) { 

	.collg1, .collg2, .collg3, .collg4, .collg5, .collg6, 
	.collg7, .collg8, .collg9, .collg10, .collg11, .collg12 {
		float: left;
	}
		.collg1 {
		width: 8.33%;
	}
		.collg2 {
		width: 16.66%;
	}
		.collg3 {
		width: 25%;
	}
		.collg4 {
		width: 33%;
	}
		.collg5 {
		width: 41.66%;
	}
		.collg6 {
		width: 50%;
	}
		.collg7 {
		width: 58.33%;
	}
		.collg8 {
		width: 66.66%;
	}
		.collg9 {
		width: 75%;
	}
		.collg10 {
		width: 83.33%;
	}
		.collg11 {
		width: 91.66%;
	}
		.collg12 {
		width: 100%;
	}
}


	/* MEDIUM DEVICES, MEDIUM DEVICES, MEDIUM DEVICES */

@media (min-width: 768px) and (max-width: 991px) {
	
.colmd1, .colmd2, .colmd3, .colmd4, .colmd5, .colmd6, 
.colmd7, .colmd8, .colmd9, .colmd10, .colmd11, .colmd12 {
		float: left;
	}
		.colmd1 {
		width: 8.33%;
	}
		.colmd2 {
		width: 16.66%;
	}
		.colmd3 {
		width: 25%;
	}
		.colmd4 {
		width: 33%;
	}
		.colmd5 {
		width: 41.66%;
	}
		.colmd6 {
		width: 50%;
	}
		.colmd7 {
		width: 58.33%;
	}
		.colmd8 {
		width: 66.66%;
	}
		.colmd9 {
		width: 75%;
	}
		.colmd10 {
		width: 83.33%;
	}
		.colmd11 {
		width: 91.66%;
	}
		.colmd12 {
		width: 100%;
	}

}



	/* SMALL DEVICES, SMALL DEVICES, SMALL DEVICES */

@media (max-width: 767px) {

.colsm1, .colsm2, .colsm3, .colsm4, .colsm5, .colsm6, 
	.colsm7, .colsm8, .colsm9, .colsm10, .colsm11, .colsm12 {
		float: left;
	}
		.colsm1 {
		width: 8.33%;
	}
		.colsm2 {
		width: 16.66%;
	}
		.colsm3 {
		width: 25%;
	}
		.colsm4 {
		width: 33%;
	}
		.colsm5 {
		width: 41.66%;
	}
		.colsm6 {
		width: 50%;
	}
		.colsm7 {
		width: 58.33%;
	}
		.colsm8 {
		width: 66.66%;
	}
		.colsm9 {
		width: 75%;
	}
		.colsm10 {
		width: 83.33%;
	}
		.colsm11 {
		width: 91.66%;
	}
		.colsm12 {
		width: 100%;
	}

}



